{% extends 'layout_main.twig' %}


{% block body %}
	{% include 'layout_header_small.twig' %}

	<div class="container" style="margin-top:100px;margin-bottom:50px;">
		<div class="row justify-content-between">
			<div class="col-md-6 side-text-right-container d-flex mx-auto flex-column" style="text-align:center;">
				<div class="mb-auto"></div>
				<h2 class="side-text-right-title f-size25" style="margin-bottom:0px;">Altilly.</h2>
				<h6 style="margin-bottom:20px;">Digital Asset Exchange</h6>
				<h5 style="margin-bottom:20px;">Experience Altilly.<br>
					The digital asset exchange with ultimate secure and user-friendly features.<br>
					Altilly uses the Qredit coin as the native base currency.<br></h5>


				<a class="side-text-right-button" href="https://altilly.com">Visit Altilly</a><br>


				<div class="mt-auto"></div>
			</div>
			<div class="col-md-6 about-us-img-section" style="text-align:center;margin-top:20px;">
				<img src="img/header/altilly-logo.png" style="width:60%;" alt="">
			</div>
		</div>
	</div>
</div>

<!-- end of v1 -->


<section class="section-wth-amwaj position-relative">
	<div class="bg_overlay_section-amwaj">
		<img src="img/bg/b_bg_02.jpg" alt="img-bg">
	</div>

	<div class="container">
		<div class="row justify-content-start mr-tp-30">
			<div class="col-md-12">
				<h4 style="margin-bottom:20px;text-align:center;">Altilly Version 2 (coming soon)</h4>

				<div class="">
					<span class="second-pricing-table-price monthly">
						<i class="monthly">
							<div class="col-md-12 about-us-img-section">
								<img src="img/altilly-mockup-light.png" alt="">
							</div>

						</i>
						<i class="yearly">
							<div class="col-md-12 about-us-img-section">
								<img src="img/altilly-mockup-dark.png" alt="">
							</div>

						</i>
					</span>
				</div>
				<div class="row justify-content-center">
					<div id="monthly-yearly-chenge" class="mr-tp-40 style-two">
						<a class="monthly-price active">
							<span class="change-box-text">Light Version</span>
							<span class="change-box"></span>
						</a>
						<a class="yearli-price">
							<span class="change-box-text">Dark Version</span>
						</a>
					</div>
				</div>

			</div>
		</div>
		<!-- end row -->
	</div>
</div></div><!-- end container --></section>{% include 'layout_footer.twig' %}{% endblock %}{% block javascripts %}<script src="{{asset('/js/vendor/echarts.min.js')}}"></script><script src="{{asset('/js/es5/echart.options.min.js')}}"></script><script src="{{asset('/js/es5/dashboard.v1.script.js')}}"></script>{% endblock %}
