{% extends 'layout_main.twig' %}


{% block body %}
	{% include 'layout_header_small.twig' %}

	<div style="margin-top:50px;margin-bottom:50px;">

		<main class="container mb-auto">
			<div class="row">
				<div class="col-md-5">
					<section class="padding-20-0 mob-display-none">
						<div class="container">
							<div class="row justify-content-start">
								<div class="col-md-5">
									<h5 class="immediate-help-center-title">Need some immediate
										<br>help ?</h5>
									<p class="immediate-help-center-text">Call our support</p>

									<a class="immediate-help-center-link" href="#">+46 76 100 9111</a>
						
								</div>
							</div>
						</div>
					</section>
				</div>

				<div class="col-md-7">
					<form
						class="row form-contain-home contact-page-form-send" id="ajax-contact" method="post" action="mailer.php">
						<!-- start form -->
						<h5>get in touch
							<span>discouver how can our services grow your business.</span>
						</h5>
						<div id="form-messages"></div>
						<!-- form message -->

						<div
							class="col-md-12">
							<!-- start col -->
							<div class="field input-field">
								<input
								class="form-contain-home-input" type="text" id="name" name="name" placeholder="entre your name" required>
								<!-- input -->
								<i class="fas fa-user"></i>
							</div>
						</div>
						<!-- end col -->

						<div
							class="col-md-12">
							<!-- start col -->
							<div class="field input-field">
								<input
								class="form-contain-home-input" type="email" id="email" name="email" placeholder="entre your email" required>
								<!-- input -->
								<i class="far fa-envelope"></i>
							</div>
						</div>
						<!-- end col -->

						<div
							class="col-md-12">
							<!-- start col -->
							<div class="field input-field">
								<textarea class="form-contain-home-input" id="message" name="message" placeholder="entre your message" required></textarea>
								<!-- textarea -->
							</div>
						</div>
						<!-- end col -->

						<div class="btn-holder-contect">
							<button type="submit">Send</button>
							<!-- submit button -->
						</div>

					</form>
					<!-- end form -->
				</div>
			</div>

		</main>

	</div>

	<div class="mt-auto"></div>
</div>
<div id="mobile-form-contact-height"></div>{% endblock %}{% block javascripts %}

<script src="{{asset('/js/vendor/echarts.min.js')}}"></script>
<script src="{{asset('/js/es5/echart.options.min.js')}}"></script>
<script src="{{asset('/js/es5/dashboard.v1.script.js')}}"></script>{% endblock %}
