{% extends 'layout_main.twig' %}

{% block body %}
	{% include 'layout_header_explorer.twig' %}

	<div class="container" style="margin-top:50px;margin-bottom:50px;">
		<div class="container">
			<div class="container search-title" id="aftersearch"></div>
			<div class="banner-servers-box">
				<div class="counter-placeholder"></div>
				<div class="banner-text-left">
					<h4 style="color:#fff;">
						<strong>Delegate Monitor</strong>
					</h4>
					<p>Delegate Monitor</p>
				</div>
			</div>

			<table class="table">

				<thead>
					<tr>
						<th class="server-tabls-head" scope="col">Rank</th>
						<th class="server-tabls-head" scope="col">Username</th>
						<th class="server-tabls-head" scope="col">Last Forged</th>
						<th class="server-tabls-head" scope="col">Status</th>
						<th class="server-tabls-head" scope="col">Votes</th>
					</tr>
				</thead>
				<tbody id='delegates' class="server-tabls-row"></tbody>

			</table>
		</div>
	</div>
</div></div></div></div>{% endblock %}{% block javascripts %}<script>$(document).ready(function () {

var socket = io();

socket.emit('getdelegates', {});

socket.on('showdelegates', function (data) {

var mainTable = document.getElementById("delegates");

var tr,
td;

data.forEach(function (row) {

tr = document.createElement("tr");

td = document.createElement("td");
td.innerHTML = row.rank;
tr.appendChild(td);

td = document.createElement("td");
td.innerHTML = row.username;
tr.appendChild(td);

td = document.createElement("td");
td.innerHTML = timeDifference(row.timestamp);
tr.appendChild(td);

td = document.createElement("td");
td.innerHTML = getStatus(row.timestamp);
tr.appendChild(td);

td = document.createElement("td");
td.innerHTML = row.approval + ' % ';
tr.appendChild(td);


delegates.appendChild(tr);

});

});

});


function timeDifference(datetime) {

var d = new Date();
var current = d.getTime();
var previous = Date.parse(datetime);

var msPerMinute = 60 * 1000;
var msPerHour = msPerMinute * 60;
var msPerDay = msPerHour * 24;
var msPerMonth = msPerDay * 30;
var msPerYear = msPerDay * 365;

var elapsed = current - previous;

if (elapsed < msPerMinute) {
return Math.round(elapsed / 1000) + ' seconds ago';
} else if (elapsed < msPerHour) {
return Math.round(elapsed / msPerMinute) + ' minutes ago';
} else if (elapsed < msPerDay) {
return Math.round(elapsed / msPerHour) + ' hours ago';
} else if (elapsed < msPerMonth) {
return 'approximately ' + Math.round(elapsed / msPerDay) + ' days ago';
} else if (elapsed < msPerYear) {
return 'approximately ' + Math.round(elapsed / msPerMonth) + ' months ago';
} else {
return 'approximately ' + Math.round(elapsed / msPerYear) + ' years ago';
}
}

function getStatus(datetime) {

var d = new Date();
var current = d.getTime();
var previous = Date.parse(datetime);

var msPerMinute = 60 * 1000;
var msPerHour = msPerMinute * 60;
var msPerDay = msPerHour * 24;
var msPerMonth = msPerDay * 30;
var msPerYear = msPerDay * 365;

var elapsed = (current - previous) / 1000;

if (elapsed < (16 * 60)) {
return '<img alt="ok" src="/img/ok-24.png">';
} else if (elapsed < (24 * 60)) {
return '<img alt="ok" src="/img/missed-24.png">';
} else {
return '<img alt="ok" src="/img/offline-24.png">';
}

}</script>{% endblock %}
