{% extends '/blocks/main.twig' %}

{% block body %}

<div class="breadcrumb">
	<h1>Error</h1>
</div>

<div class="separator-breadcrumb border-top"></div>

{% include '/cards/footer.twig' %}

{% endblock %}