{% extends '/blocks/main.twig' %}

{% block body %}

<!-- content here -->
<div class="container text-center" style="margin-top:100px;">
	<div class="col-xl-12">
		<div class="h-200">
			<h5>Select Network</h5>
			<!--<p>A basic example</p>-->
			<div class="btn-group">
				<button class="btn btn-rounded btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
					aria-expanded="false">Network</button>
				<div class="dropdown-menu" style="">
					<a class="dropdown-item" href="/qredit/transactions">Qredit Mainnet</a>
					<a class="dropdown-item" href="/blockpool/transactions">Blockpool Mainnet</a>
					<a class="dropdown-item" href="#">Ark Mainnet (Coming soon)</a>
				</div>
			</div>
		</div>
	</div>
</div>

{% include '/cards/footer.twig' %}

{% endblock %}


{% block javascripts %}

{% endblock %}