{% extends '/blocks/main.twig' %}

{% block body %}

<!-- content here -->


<div class="container text-center" style="margin-top:100px;">
	<div class="col-xl-12">
		<div class="text-center align-items-center logo-box" style="margin:25px;">
			<!-- Logo -->
			<a href="/" class="logo">
				<!-- logo-->
				<div class="logo-lg">
					<span class="light-logo"><a href="https://explorer.sh"><img src="/img/explorer.png"
								style="max-height:50px;" alt="logo"></a></span>
				</div>
			</a>
			<h3>A Unified Explorer for Ark based Blockchains and assets listed in Qredit Motion.</h3>
		</div>
		<div class="h-200">

			<h5>Select Network</h5>
			<!--<p>A basic example</p>-->
			<div class="btn-group">
				<button class="btn btn-rounded btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
					aria-expanded="false">Network</button>
				<div class="dropdown-menu" style="">
					<a class="dropdown-item" href="/qredit/transactions">Qredit Mainnet</a>
					<a class="dropdown-item" href="/blockpool/transactions">Blockpool Mainnet</a>
					<a class="dropdown-item" href="/ark/transactions">Ark Mainnet</a>
					<a class="dropdown-item" href="/dark/transactions">Ark Devnet</a>
					<a class="dropdown-item" href="#">Radians (coming soon)</a>
				</div>
			</div>
		</div>
	</div>
</div>

{% include '/cards/footer.twig' %}

{% endblock %}


{% block javascripts %}

{% endblock %}