{% extends 'layout_main.twig' %}


{% block body %}
	{% include 'layout_header_menu.twig' %}

	<div class="container">

		<div class="row justify-content-between" style="margin-top:50px;margin-bottom:50px;">

			<div class="col-md-8" style="text-align:center!important;">
				<img src="/img/finance.png" class="header-logo" alt="">
			</div>

			<div class="col-md-4 side-text-right-container d-flex mx-auto flex-column">
				<div class="mb-auto"></div>
				<h2 class="side-text-right-title f-size25">Fast. Reliable.<br>Efficient.</h2>
				<p class="side-text-right-text f-size16">
								<p class="side-text-right-text f-size16">
Qredit is a complete enhanced blockchain suite for enterprises, developers and individuals.<br>
Integrate Qredit in your business using our <b>Persona</b> toolkit for KYC verifications. <br>
Create your own dApps with the<br><b>QAE Smart Contracts</b> toolkit<br> or use <b>Qredit Motion</b> as a payment gateway.
				</p>
				</p>
				<div class="mt-auto"></div>
			</div>
		</div>
	</div>


{% endblock %}

{% block javascripts %}

	<script src="{{asset('/js/vendor/echarts.min.js')}}"></script>
	<script src="{{asset('/js/es5/echart.options.min.js')}}"></script>
	<script src="{{asset('/js/es5/dashboard.v1.script.js')}}"></script>


{% endblock %}
