<!-- Footer Start -->
<section class="footer-section-banner">
	<div class="container">
		<div class="row free-trial-footer-banner">
			<div class="col-md-8">
				<h5 class="free-trial-footer-banner-title" style="color:#fff;">Under Construction</h5>
				<p class="free-trial-footer-banner-text">The Qredit homepage, including tools, the block explorer and some core functions are currently under live maintenance. We apologize for the inconvenience.</p>
				<p class="free-trial-footer-banner-text">Please use the back-up explorer to view transactions.</p>
			</div>

			<div class="col-md-4 free-trial-footer-links d-flex mx-auto flex-column">
				<div class="mb-auto"></div>
				<div class="mb-auto">
					<a class="sign-btn" href="https://xqr-exp.geops.net">backup explorer</a>
					<!--<a class="log-btn" href="/status">Status</a>-->
				</div>
				<div class="mt-auto"></div>
			</div>
		</div>
	</div>
</section>

<section class="footer-section">
	<div class="container">
		<div class="mr-tp-40 row justify-content-between footer-area-under">
			<div class="col-md-4">
				<a href="#"><img class="footer-logo-blue" src="img/header/logo-footer-light.png" alt=""/></a>
				<div class="footer-social-icons">
					<a href="https://www.facebook.com/qredit.io/">
						<i class="fab fa-facebook-f"></i>
					</a>
					<a href="https://t.me/qredit">
						<i class="fab fa-telegram"></i>
					</a>
					<a href="https://twitter.com/Qredit_io">
						<i class="fab fa-twitter"></i>
					</a>
					<a href="https://discord.com/invite/k3m9Mgy">
						<i class="fab fa-discord"></i>
					</a>
					<a href="https://www.instagram.com/qredit_team/">
						<i class="fab fa-instagram"></i>
					</a>
				</div>
			</div>

			<div class="col-md-4 row">
				<ul class="col-md-6 under-footer-ullist">
					<li>
						<a href="/transactions">explorer</a>
					</li>
					<li>
						<a href="/contact">contact us</a>
					</li>
				</ul>
				<ul class="col-md-6 under-footer-ullist text-right">
					<li>
						<a href="/privacypolicy">privacy policy</a>
					</li>
					<li>
						<a href="/terms">terms of sevice</a>
					</li>
				</ul>
			</div>

		</div>

		<div class="row justify-content-between final-footer-area mr-tp-40">
			<div class="final-footer-area-text">
				© Copyright 2020 | Qredit Technologies Inc. | Tågsjöberg 109 - 88037 - Junsele, Sweden.
			</div>

			<div class="made-with-love">

				<p>Made with
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart" style="color:red;">
						<path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
					</svg>
					by Qredit</p>
			</div>
		</div>
	</div>
</section>


<!-- footer end -->
