<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">

		<title>{{ title }}</title>
		<link
		href="https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700,800,900" rel="stylesheet">


		<!-- CSS FILES -->
		<link rel="stylesheet" href="../css/main.min.css">
		<link rel="stylesheet" href="../css/main.css">
		<link rel="stylesheet" href="../css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap" rel="stylesheet">
		<link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
		<link href="../css/plugins.css" rel="stylesheet" type="text/css"/>
		<link href="../css/loader.css" rel="stylesheet" type="text/css"/><!-- CSS FILES end -->

		<!-- Scripts --><script src="../js/libs/jquery.min.js"> </script>
		<script src="../js/socket.io.slim.js"></script>


		<!-- BEGIN GLOBAL MANDATORY SCRIPTS -->


		<!-- template JavaScript -->
</head>
		{% block javascripts %}{% endblock %}



</script>


<!-- END GLOBAL MANDATORY SCRIPTS -->
<!-- Favicon--><link rel="icon" type="/image/png" href="../favicon.png"><body class="text-left"><!-- ============ header menu ============= --><!-- ============ end of header menu ============= --><!-- ============ Body content start ============= -->
<div class="main-content-wrap sidenav-open d-flex flex-column"> <div class="main-content"> {% block body %}{% endblock %}
	</div>

</div>


<!-- ============ Scripts ============= -->
<!-- <script>$(document).ready(function () {
App.init();
});</script> -->
<!--<script src="js/libs/jquery-3.1.1.min.js"></script> --><script src="../js/bootstrap.min.js"> </script>
<script src="../plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="../js/app.js"></script>
<script src="../js/custom.js">
<script src="./js/aos.js"></script>
	<script src="../js/popper.min.js"></script>
	<script src="../js/template-scripts.js"></script>
	<script src="../js/flickity.pkgd.min.js"></script>
	<script src="../owlcarousel/owl.carousel.min.js"></script>
	<script src="../js/parallax.min.js"></script>
	<script src="../js/mailchamp.js"></script>
	<script src="../js/bootstrap.offcanvas.min.js"></script>
	<script src="../js/jquery.touchSwipe.min.js"></script>
	<script src="../js/particles-code.js"></script>
	<script src="../js/particles.js"></script>
	<script src="../js/smoothscroll.js"></script>
	<script src="../js/script.js"></script>
