{% extends 'layout_main.twig' %}


{% block body %}
	{% include 'layout_header_small.twig' %}

	<div class="container" style="margin-top:50px;margin-bottom:50px;">

		<div class="row justify-content-between">
			<div class="col-md-12 side-text-right-container d-flex mx-auto flex-column" style="text-align:center;">
				<div class="mb-auto"></div>
				<h2 class="side-text-right-title f-size25">Persona Protocol.</h2>

				<p class="side-text-right-text f-size16" style="color:#000;">
					The Persona Protocol is Qredit's native KYC tool for small and large enterprises.<br>
					The Persona Protocol is expected to be released in Q3 2020.<br>
					Please stay tuned for updates.
				</p>

				<div class="mt-auto"></div>
			</div>
		</div>

	</div>
	{% include 'layout_footer.twig' %}

{% endblock %}
{% block javascripts %}


	<script src="{{asset('/js/vendor/echarts.min.js')}}"></script>
	<script src="{{asset('/js/es5/echart.options.min.js')}}"></script>
	<script src="{{asset('/js/es5/dashboard.v1.script.js')}}"></script>
{% endblock %}
