{% extends 'layout_main.twig' %}


{% block body %}

<div class="custom-login-page">
	<div class="login-left-side-custom">
		<div id="particles-bg"></div>
		<img class="custom-login-bg" src="/img/header/h_bg_02.svg" alt="img-bg">
		<div style="text-align:left;">
			<a class="navbar-brand" href="https://qredit.io">
				<img class="w-logo" src="/img/logo.png" alt="Qredit"></a>
		</div>
		<div class="kt-grid" style="text-align:left;margin-left:20px;">
<div class="row" style="margin-top:100px;">
                <div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#">HTML</a></li>
    <li><a href="#">CSS</a></li>
    <li><a href="#">JavaScript</a></li>
  </ul>
</div>
            </div>
			
			<div class="item-footer">


				<div class="login-info">
					<div class="login-copyright">© 2020 - Qredit Technologies</div>
				</div>
			</div>
		</div>
	</div>
	<div class="login-right-side-custom" style="background:#fff;">

		<div class="login-wrapper">

			<div class="login-form-container register-special">
				<div id="registration">

					</div>
				</div>
			</div>
		</div>
	</div>
</div>





{% endblock %}
{% block javascripts %}


	<script src="{{asset('/js/vendor/echarts.min.js')}}"></script>
	<script src="{{asset('/js/es5/echart.options.min.js')}}"></script>
	<script src="{{asset('/js/es5/dashboard.v1.script.js')}}"></script>
{% endblock %}
