{% extends 'layout_main.twig' %}


{% block body %}
	{% include 'layout_header_small.twig' %}

	<div class="container" style="margin-top:50px;margin-bottom:50px;">
		<div class="row justify-content-between">
			<div class="col-md-4 side-text-right-container d-flex mx-auto flex-column" style="text-align:center;">
				<div class="mb-auto"></div>
				<h2 class="side-text-right-title f-size25" style="margin-bottom:0px;">Qredit Desktop.</h2>
				<h6 style="margin-bottom:20px;">Version 2.6.4</h6>
				<h6 style="margin-bottom:20px;">Manage your funds, data and contacts with the Desktop App.  Receive and transfer assets and data simply with the password you provide.</h6>


				<div class="breadcrumb-hosting-pages row">
					<a class="col-md-3" href="https://github.com/Qredit/desktop-wallet/releases/download/2.6.4/qredit-desktop-wallet-win-2.6.4.exe">
						<img src="img/svgs/windows.svg" alt="">
						<span class="sub-breadcrumb-host-title">Windows</span>
					</a>

					<a class="col-md-3" href="https://github.com/Qredit/desktop-wallet/releases/download/2.6.4/qredit-desktop-wallet-mac-2.6.4.dmg">
						<img src="img/svgs/apple.svg" alt="">
						<span class="sub-breadcrumb-host-title">MacOS</span>
					</a>

					<a class="col-md-3" href="https://github.com/Qredit/desktop-wallet/releases/download/2.6.4/qredit-desktop-wallet-linux-amd64-2.6.4.deb">
						<img src="img/svgs/linux.svg" alt="#">
						<span class="sub-breadcrumb-host-title">Linux</span>
					</a>
					<a class="col-md-3" href="https://github.com/Qredit/desktop-wallet">
						<img src="img/svgs/github.svg" alt="#">
						<span class="sub-breadcrumb-host-title">Source</span>
					</a>

				</div>
				<div class="mt-auto"></div>
			</div>
			<div class="col-md-8 about-us-img-section">
				<img src="img/qredit-desktop.png" alt="">
			</div>
		</div>
	</div>
	<div class="container" style="margin-top:50px;margin-bottom:50px;">
		<div class="row justify-content-between">

			<div class="col-md-8 about-us-img-section">
				<img src="img/qredit-mobile.png" alt="">
			</div>
			<div class="col-md-4 side-text-right-container d-flex mx-auto flex-column" style="text-align:center;">
				<div class="mb-auto"></div>
				<h2 class="side-text-right-title f-size25" style="margin-bottom:0px;">Qredit Mobile.</h2>
				<h6 style="margin-bottom:20px;">Version 2.5.7</h6>
				<h6 style="margin-bottom:20px;">Easily monitor incoming and outgoing data and send funds whenever you want. With the contacts list you do not have to remember the addresses of your friends, family or anyone else that is using Qredit.
																																																																																	All your sensitive data is securely stored using PBKDF2 algorithm and AES-256 encryption protected by your PIN code.</h6>


				<div class="breadcrumb-hosting-pages row">
					<a class="col-md-4" href="https://play.google.com/store/apps/details?id=io.qredit.wallet.mobile">
						<img src="img/svgs/android.svg" alt="">
						<span class="sub-breadcrumb-host-title">Android</span>
					</a>

					<a class="col-md-4" href="https://apps.apple.com/us/app/qredit-mobile/id1453315444">
						<img src="img/svgs/ios.svg" alt="">
						<span class="sub-breadcrumb-host-title">iOS</span>
					</a>
					<a class="col-md-4" href="https://github.com/Qredit/qae-mobile">
						<img src="img/svgs/github.svg" alt="#">
						<span class="sub-breadcrumb-host-title">Source</span>
					</a>


				</div>
				<div class="mt-auto"></div>
			</div>

		</div>
	</div>


</div>
{% include 'layout_footer.twig' %}{% endblock %}{% block javascripts %}
<script src="{{asset('/js/vendor/echarts.min.js')}}"></script>
<script src="{{asset('/js/es5/echart.options.min.js')}}"></script>
<script src="{{asset('/js/es5/dashboard.v1.script.js')}}"></script>{% endblock %}
