{% extends 'layout_sub.twig' %}

{% block body %}
	{% include 'layout_header_sub.twig' %}

	<div class="container" style="margin-top:50px;margin-bottom:50px;">
		<div class="container">
			<div class="container search-title" id="aftersearch"></div>
			<div class="banner-servers-box">
				<div class="counter-placeholder"></div>
				<div class="banner-text-left">
					<h4 style="color:#fff;">
						<strong>Wallet</strong>
					</h4>
					<p>Wallet History</p>
				</div>
			</div>
			<div class="table-responsive">
				<table class="table">

					<thead>
	

					<th class="server-tabls-head" scope="col">ID</th>
					<th class="server-tabls-head" scope="col">Timestamp</th>
					<th class="server-tabls-head" scope="col">Sender</th>
					<th class="server-tabls-head" scope="col">Recipient</th>
					<th class="server-tabls-head" scope="col">Amount (XQR)</th>
					<th class="server-tabls-head" scope="col">Amount (QAE Tokens)</th>
					<th class="server-tabls-head" scope="col">Smartbridge</th>
					<th class="server-tabls-head" scope="col">Confirmations</th>
				</tr>
			</thead>
			<tbody id='walletId' class="server-tabls-row"></tbody>
		</table>
	</div>
</div></div>{% include 'layout_footer_sub.twig' %}
{% endblock %}
{% block javascripts %}



<script>

$(document).ready(function () {

var socket = io();
socket.emit('gettransactiondetails', {walletId: '{{ walletId }}'});
socket.on('showtransactiondetails', function (data) {
var mainTable = document.getElementById("transactiondetails");
var tr,
td;

for (var k in data) {

tr = document.createElement("tr");

td = document.createElement("td");
td.innerHTML = k;
tr.appendChild(td);

td = document.createElement("td");
td.innerHTML = data[k];
tr.appendChild(td);

transactiondetails.appendChild(tr);

};


});

});</script>

<script type="text/javascript">$(document).ready(function () {
	$("button-txid").click(function (event) {
	event.preventDefault();
	CopyToClipboard("{{ transactionId }}", true, "Value copied");
	});
	});
	
	function CopyToClipboard(value, showNotification, notificationText) {
	var $temp = $("<input>");
	$("body").append($temp);
	$temp.val(value).select();
	document.execCommand("copy");
	$temp.remove();
																																													
	if (typeof showNotification === 'undefined') {
	showNotification = true;
	}
	if (typeof notificationText === 'undefined') {
	notificationText = "Copied to clipboard";
	}
	
	var notificationTag = $("div.copy-notification");
	if (showNotification && notificationTag.length == 0) {
	notificationTag = $("<div/>", {
	"class": "copy-notification",
	text: notificationText
	});
	$("body").append(notificationTag);
	
	notificationTag.fadeIn("slow", function () {
	setTimeout(function () {
	notificationTag.fadeOut("slow", function () {
	notificationTag.remove();
	});
	}, 1000);
	});
	}
	}
	{% endblock %}
