{% extends '/blocks/main.twig' %}

{% block body %}
{% include '/blocks/arkmenu.twig' %}
{% include '/cards/headingark.twig' %}

<div class="container mh" style="margin-top: 25px;">
	<div class="col-lg-12 col-12">
		<div class="box box-slided-down">
			<div class="box-header with-border">
				<h4 class="box-title">Description</h4>
				<ul class="box-controls pull-right">
					<li><a class="box-btn-slide" href="#"></a></li>
					<li><a class="box-btn-fullscreen" href="#"></a></li>
				</ul>
			</div>
			<div class="box-body ribbon-box">
				<div class="ribbon ribbon-danger" style="color:#000!important;">Beta</div>
				<div class="box-body" style="border:1px solid black;">
					<h5><strong>Description of ASLP Tokens</strong></h5>
					<p>ASLP Tokens are fungible and non-fungible tokens created on a sidechain module forked from <a
							href="https://github.com" target="_blank">QSLP (Qredit Side Ledger Protocol).</a><br>
						The ASLP Sidechain is not affiliated and does not have any connection with the official ARK
						brand, the ARK team or the ARK
						entity.<br>
						ASLP is a custom module that is used by delegates that have voluntarily decided to run this
						sidechain alongside their mainnet relay or forging node.</p>
					<h5><strong>Disclaimer</strong></h5>
					<p>ASLP or QSLP products and tools comes without any warranties or guarantees. Use at your own
						risk.
					</p>
					<h5><strong>Documentation</strong></h5>
					<p>Documentation regarding the use of QSLP/ASLP is visible <a href="arkqslp.qredit.cloud"
							target="_blank">here</a>.<br>
						<a href="https://github.com/qredit/qslp" target="_blank">Click here</a>
						to visit
						the public
						github repository to learn more about QSLP/ASLP.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container mh">
	<div class="col-lg-12 col-12">
		<div class="box">
			<div class="box-header with-border">
				<h4 class="box-title">ASLP Tokens</h4>
			</div>
			<div class="box-body">
				<div class="table-responsive">
					<table class="table no-margin table-hover">
						<thead>
							<tr>
								<th scope="col">ASLP Version</th>
								<th scope="col">Token Name</th>
								<th scope="col">Symbol</th>
								<th scope="col">Owner Address</th>
								<th scope="col">TokenID</th>
								<th scope="col">Circulating Supply</th>
								<th scope="col">Pausable</th>
								<th scope="col">Mintable</th>
							</tr>
						</thead>
						<tbody id='tokenlist'></tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

</div>
{% include '/cards/footer.twig' %}{% endblock %}{% block javascripts %}
<script>
	$(document).ready(function () {


		var socket = io();

		socket.emit('arkgettokenlist', {
			page: 1,
			limit: 100
		});

		socket.on('arkshowtokenlist', function (data) {
			console.log(data)
			var mainTable = document.getElementById("tokenlist");

			var tr,
				td;

			data.forEach(function (row) {

				tr = document.createElement("tr");

				td = document.createElement("td");
				td.innerHTML = row.version;
				tr.appendChild(td);

				td = document.createElement("td");
				td.innerHTML = row.name;
				td.innerHTML = '<a href="/ark/token/' + row.tokenid + '">' + row.name + '</a>';
				tr.appendChild(td);

				td = document.createElement("td");
				td.innerHTML = row.symbol;
				tr.appendChild(td);

				td = document.createElement("td");
				td.innerHTML = '<a href="/ark/wallet/' + row.owneraddress + '">' + row.owneraddress.substr(0, 5) + '...' + row.owneraddress.substr(-5) + '</a>';
				tr.appendChild(td);

				td = document.createElement("td");
				td.innerHTML = '<a href="/ark/token/' + row.tokenid + '">' + row.tokenid.substr(0, 5) + '...' + row.tokenid.substr(-5) + '</a>';
				tr.appendChild(td);

				td = document.createElement("td");
				td.innerHTML = row.circsupply + ' ' + row.symbol;
				tr.appendChild(td);

				td = document.createElement("td");
				td.innerHTML = row.pausable;
				tr.appendChild(td);

				td = document.createElement("td");
				td.innerHTML = row.mintable;
				tr.appendChild(td);

				tokenlist.appendChild(tr);

			});

		});

	});</script>{% endblock %}