<footer class="footer ">
	<div class="container text-center">
		<script>document.write(new Date().getFullYear())</script> <a href="https://qredit.io">Qredit.io</a>. <br>All
		Lefts
		Reserved.
	</div>
</footer>