<div class="container">
    <div class="container-full">
        <div class="row mt-10 mb-10" style="text-align:center;padding-right: calc(var(--bs-gutter-x) / 2);padding-left: calc(var(--bs-gutter-x) / 2);">
            <div class="col-12 col-lg-3">
                <p class="no-margin fw-600">Marketcap <span class="text-warning">€495,480.83</span></p>
            </div>
            <div class="col-12 col-lg-3">
                <p class="no-margin fw-600">Block Height <span id='getlastblockheight' class="text-warning"></p>
            </div>
            <div class="col-12 col-lg-3">
                <p class="no-margin fw-600">Last Forged <span id='getlastforgedusername' class="text-warning"></span></p>
            </div>
            <div class="col-12 col-lg-3">
                <p class="no-margin fw-600">Total Supply <span class="text-warning">92,960,773 XQR</span></p>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function() {

        var socket = io();
        socket.emit('getlastblock', {});
        socket.on('showlastblock', function(data) {

            $('#getlastblockheight').html(data.getlastblockheight);
            $('#getlastforgedusername').html(data.getlastforgedusername);

        });

    });
</script>