<div class="container">
    <div class="container-full">

        <!-- Main content -->
        <section style="margin-top:25px;">
            <div class="row">
                <div class="col-12 col-lg-3">
                    <div class="box box-body pull-up" style="place-items: center;">
                        <div class="d-flex justify-content-between">
                            <div class="p-0">
                                <div class="text-center">
                                    <i class="mdi mdi-cash-100" style="font-size:14px!important;"></i>
                                </div>
                                <div class="text-center">
                                    <h3 class="no-margin text-bold mb-10">Marketcap</h3>
                                    <p class="no-margin fw-600"><span class="text-warning">€495,480.83</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3">
                    <div class="box box-body pull-up" style="place-items: center;">
                        <div class="d-flex justify-content-between">
                            <div class="p-0">
                                <div class="text-center">
                                    <i class="mdi mdi-information-outline" style="font-size:14px!important;"></i>
                                </div>
                                <div class="text-center">
                                    <h3 class="no-margin text-bold mb-10">Block Height</h3>
                                    <p class="no-margin fw-600"><span id='currentheight' class="text-warning"></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3">
                    <div class="box box-body pull-up" style="place-items: center;">
                        <div class="d-flex justify-content-between">
                            <div class="p-0">
                                <div class="text-center">
                                    <i class="mdi mdi-account-network" style="font-size:14px!important;"></i>
                                </div>
                                <div class="text-center">
                                    <h3 class="no-margin text-bold mb-10">Last Forged</h3>
                                    <p class="no-margin fw-600">
                                        <span id='lastforgedusername' class="text-warning"></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3">
                    <div class="box box-body pull-up" style="place-items: center;">
                        <div class="d-flex justify-content-between">
                            <div class="p-0">
                                <div class="text-center">
                                    <i class="mdi mdi-bank" style="font-size:14px!important;"></i>
                                </div>
                                <div class="text-center">
                                    <h3 class="no-margin text-bold mb-10">Supply</h3>
                                    <p class="no-margin fw-600"><span class="text-warning">92,960,773 XQR</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



    </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {

        var socket = io();
        socket.emit('getlastblock', {});
        socket.on('showlastblock', function (data) {

            $('#currentheight').html(data.currentheight);
            $('#lastforgedusername').html(data.lastforgedusername);

        });

    });
</script>