{% extends '/blocks/submain.twig' %}

{% block body %}
{% include '/blocks/qreditsubmenu.twig' %}

<div class="container mh mt-25">
	<div class="col-lg-12 col-12">
		<div class="card-group">
			<div class="card" style="margin-bottom:0px!important;">
				<div class="card-body">
					<h4 class="card-title b-0 px-0 text-center" title="Wallet Address"><i class="mdi mdi-wallet"></i>
						Block ID
					</h4>
					<p class="text-muted text-center" title="Copy to Clipboard"></p>
				</div>
			</div>

			<div class="card" style="margin-bottom:0px!important;">
				<div class="card-body">
					<h4 class="card-title b-0 px-0 text-center"><i class="mdi mdi-key"></i> QTY Transactions</h4>
					<p class="text-muted text-center" id='publickey' title="Copy to Clipboard">
					</p>
				</div>
			</div>

			<div class="card" style="margin-bottom:0px!important;">
				<div class="card-body">
					<h4 class="card-title b-0 px-0 text-center"><i class="mdi mdi-coins"></i> Transaction Volume</h4>
					<p class="text-muted text-center" id='balance' title="Copy to Clipboard"></p>
				</div>
			</div>
		</div>
	</div>
</div>





<div class="container mh" style="margin-top: 25px;">
	<div class="col-lg-12 col-12">
		<div class="box box-slided-down">
			<div class="box-header with-border">
				<h4 class="box-title">Block Transactions</h4>
				<ul class="box-controls pull-right">
					<li><a class="box-btn-slide" href="#"></a></li>
					<li><a class="box-btn-fullscreen" href="#"></a></li>
				</ul>
			</div>
			<div class="box-body">
				<div class="table-responsive">
					<table class="table no-margin table-hover">
						<thead>
							<tr>
								<th scope="col">TX ID</th>
								<th scope="col">Timestamp</th>
								<th scope="col">Sender</th>
								<th scope="col">Recipient</th>
								<th scope="col">Amount</th>
								<th scope="col">Confirmations</th>
								<th scope="col">Smartbridge</th>
							</tr>
						</thead>
						<tbody id='wallettransactions'></tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

{% include '/cards/footer.twig' %}
{% endblock %}
{% block javascripts %}

<script type="text/javascript">

	$(document).ready(function () {

		var socket = io();

		socket.emit('getblockbyid', { blockId: '{{ blockId }}' });
		socket.on('showblockbyid', function (data) {



		});

	});
</script>



{% endblock %}