{% extends '/blocks/main.twig' %}

{% block body %}
{% include '/blocks/qreditmenu.twig' %}
{% include '/cards/headingqredit.twig' %}


<div class="container mh">
	<div class="col-lg-12 col-12">
		<div class="box">
			<div class="box-header with-border">
				<h4 class="box-title">QSLP Tokens</h4>
			</div>
			<div class="box-body">
				<div class="table-responsive">
					<table class="table no-margin table-hover">
						<thead>
							<tr>
								<th scope="col">QSLP Version</th>
								<th scope="col">Token Name</th>
								<th scope="col">Symbol</th>
								<th scope="col">Owner Address</th>
								<th scope="col">TokenID</th>
								<th scope="col">Circulating Supply</th>
								<th scope="col">Pausable</th>
								<th scope="col">Mintable</th>
							</tr>
						</thead>
						<tbody id='tokenlist'></tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

</div>
{% include '/cards/footer.twig' %}{% endblock %}{% block javascripts %}
<script>
	$(document).ready(function () {


		var socket = io();

		socket.emit('gettokenlist', {
			page: 1,
			limit: 100
		});

		socket.on('qslptokenlist', function (data) {

			var mainTable = document.getElementById("tokenlist");

			var tr,
				td;

			data.forEach(function (row) {

				tr = document.createElement("tr");

				td = document.createElement("td");
				td.innerHTML = row.version;
				tr.appendChild(td);

				td = document.createElement("td");
				td.innerHTML = row.name;
				td.innerHTML = '<a href="/qredit/token/' + row.tokenid + '">' + row.name + '</a>';
				tr.appendChild(td);

				td = document.createElement("td");
				td.innerHTML = row.symbol;
				tr.appendChild(td);

				td = document.createElement("td");
				td.innerHTML = '<a href="/qredit/wallet/' + row.owneraddress + '">' + row.owneraddress.substr(0, 5) + '...' + row.owneraddress.substr(-5) + '</a>';
				tr.appendChild(td);

				td = document.createElement("td");
				td.innerHTML = '<a href="/qredit/token/' + row.tokenid + '">' + row.tokenid.substr(0, 5) + '...' + row.tokenid.substr(-5) + '</a>';
				tr.appendChild(td);

				td = document.createElement("td");
				td.innerHTML = row.circsupply + ' ' + row.symbol;
				tr.appendChild(td);

				td = document.createElement("td");
				td.innerHTML = row.pausable;
				tr.appendChild(td);

				td = document.createElement("td");
				td.innerHTML = row.mintable;
				tr.appendChild(td);

				tokenlist.appendChild(tr);

			});

		});

	});</script>{% endblock %}